package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Repository;

/**
 * ${comments}
 * 
 * @author 清风学Java
 * @version 3.0.0
 * @date ${datetime}
 */
@Repository
public interface ${className}Dao extends BaseMapper<${className}Entity> {
	
}
