<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.dao.RegistMapper">
    <resultMap id="BaseResultMap" type="com.qingfeng.entity.Regist">
        <id column="active_reg_id" jdbcType="INTEGER" property="activeRegId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="apply_id" jdbcType="INTEGER" property="applyId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="student_college" jdbcType="VARCHAR" property="studentCollege"/>
        <result column="student_major" jdbcType="VARCHAR" property="studentMajor"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="student_sex" jdbcType="INTEGER" property="studentSex"/>
        <result column="student_tel" jdbcType="VARCHAR" property="studentTel"/>
        <result column="student_qq" jdbcType="VARCHAR" property="studentQq"/>
        <result column="reg_create_time" jdbcType="TIMESTAMP" property="regCreateTime"/>
        <result column="is_success" jdbcType="INTEGER" property="isSuccess"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="check_msg" jdbcType="VARCHAR" property="checkMsg"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_sign" jdbcType="INTEGER" property="isSign"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.qingfeng.entity.RegistVo">
        <id column="active_reg_id" jdbcType="INTEGER" property="activeRegId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="apply_id" jdbcType="INTEGER" property="applyId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="student_college" jdbcType="VARCHAR" property="studentCollege"/>
        <result column="student_major" jdbcType="VARCHAR" property="studentMajor"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="student_sex" jdbcType="INTEGER" property="studentSex"/>
        <result column="student_tel" jdbcType="VARCHAR" property="studentTel"/>
        <result column="student_qq" jdbcType="VARCHAR" property="studentQq"/>
        <result column="reg_create_time" jdbcType="TIMESTAMP" property="regCreateTime"/>
        <result column="is_success" jdbcType="INTEGER" property="isSuccess"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="check_msg" jdbcType="VARCHAR" property="checkMsg"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_sign" jdbcType="INTEGER" property="isSign"/>

        <!-- 关联查询活动报名表 -->
        <association property="apply" select="com.qingfeng.dao.ApplyMapper.queryApplyById" column="apply_id"/>
    </resultMap>

    <select id="checkRegistration" resultMap="ResultMap">
        select active_reg_id,
               user_id,
               apply_id,
               student_id,
               student_name,
               student_college,
               student_major,
               type,
               student_sex,
               student_tel,
               student_qq,
               reg_create_time,
               is_success,
               status,
               check_msg,
               is_delete,
               is_sign
        from regist
        where user_id = #{uid} and is_sign = 0 limit #{start} , #{limit}
    </select>

    <!-- 审核修改报名表数据信息 -->
    <update id="updateRegistById">
        update regist
        set is_success=#{isSuccess},
            status=#{status},
            check_msg=#{checkMsg}
            <if test="type != null">
                , type=#{type}
            </if>
        where active_reg_id = #{activeRegId}
    </update>

    <select id="queryRegistActiveDetails" resultMap="ResultMap">
        select active_reg_id,
               user_id,
               apply_id,
               student_id,
               student_name,
               student_college,
               student_major,
               type,
               student_sex,
               student_tel,
               student_qq,
               reg_create_time,
               is_success,
               status,
               check_msg,
               is_delete,
               is_sign
        from regist
        where user_id = #{uid} and apply_id = #{applyId}
    </select>
</mapper>