<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.dao.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.qingfeng.entity.UserInfo">
        <id column="user_info_id" jdbcType="INTEGER" property="userInfoId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="student_num" jdbcType="VARCHAR" property="studentNum"/>
        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="stu_sex" jdbcType="INTEGER" property="stuSex"/>
        <result column="birth" jdbcType="DATE" property="birth"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus"/>
        <result column="enter_time" jdbcType="DATE" property="enterTime"/>
        <result column="graduate_time" jdbcType="DATE" property="graduateTime"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="hukou" jdbcType="INTEGER" property="hukou"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="we_chat" jdbcType="VARCHAR" property="weChat"/>
        <result column="native_place" jdbcType="VARCHAR" property="nativePlace"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="state_school" jdbcType="VARCHAR" property="stateSchool"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="class" jdbcType="VARCHAR" property="clazz"/>
        <result column="educational_system" jdbcType="INTEGER" property="educationalSystem"/>
        <result column="hoby_des" jdbcType="VARCHAR" property="hobyDes"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_change" jdbcType="INTEGER" property="isChange"/>
    </resultMap>
</mapper>