<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.dao.UserNoticeMapper">

    <resultMap id="BaseResultMap" type="com.qingfeng.entity.UserNotice">
        <id column="user_notice_id" jdbcType="INTEGER" property="userNoticeId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="notice_id" jdbcType="INTEGER" property="noticeId"/>
        <result column="is_check" jdbcType="INTEGER" property="isCheck"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryByNoticeId" resultMap="BaseResultMap">
        select user_notice_id,
               uid,
               notice_id,
               is_check,
               create_time,
               update_time
        from user_notice where notice_id=#{noticeId}
    </select>

</mapper>