body{
    background-image: url("../img/背景.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.div-body{
    background-color: rgba(255, 255, 255, .8);
}

.div-logo{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: '楷体';
}

.div-img{
    width: 50px;
}

.div-font{
    vertical-align: middle;
}

#div-msg{
    height: 30px;
    text-align: right;
}

#msg{
    padding: 10px;
    font-size: 20px;
    color: red;
    font-family: '华文新魏';
    font-weight: bold;
}

.sub{
    margin-right: 100px;
}

.div-footer{
    margin-top: 10%;
    margin-bottom: 20px;
}

.footer{
    color: white;
    font-size: 16px;
}

.row-mid{
    margin-top: 8%;
}

.yan-img{
    margin-top: 5px;
    margin-left: 25px;
}

.a-img{
    font-size: 16px;
    font-weight: bold;
}

.check-left{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.check-font{
    font-size: 17px;
    vertical-align: middle;
    margin-top: 3px;
}